@{
    ViewBag.Title = "Food And Travel";
}

<div class="jumbotron" style="background-image:url('../../img/Maldives lead-xlarge.jpg')">
    <h1>Welcome</h1>
    <p class="lead">This is a test Application for my blog.</p>
    <p><a href="https://github.com/ghorui" class="btn btn-primary btn-lg">Github &raquo;</a></p>
</div>
<div>
    <h4>Hit Count : @ViewBag.hitCount</h4>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Travel</h2>
        <p>
            Here you will get Places we visit and Special Foods we cooked or ate from our point of view.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Travel", "Home")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Foods</h2>
        <p>We like to cook different cuisines and we like to try different cuisines while we travel. From one who likes almost all types of Food and anoter one who likes to try new food.</p>
        <p><a class="btn btn-default" href="@Url.Action("Food", "Home")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>US - some views</h2>
        <p>You can always go and check our Instagram photos and Facebook page.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>